$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;
$orange: #f75721;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

mat-toolbar {
	background-color: #fa441d;
}

.jumbotron {
    @include zero-margin(60px,30px);
    background: $orange;
    color:floralwhite;
    min-height: 150px;
}

.active {
	background: $background-moredark;
}

.gtLogo {
	width: 150px;
}